html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#root {
    height: 100%;
}

.app {

    height: 100vh;
}



.app-content {
    height: 100%;
}

.app-sider {
    overflow-y: scroll
}



.map-container {
    height: 100%;
}

.app-map {
    width: 100%;
    height: 100%;
}
